@CHARSET "UTF-8";

body {
	overflow: hidden;
}

.filtergroup {
	width: 98%;
	height: 98%;
	border: solid 1px grey;
	margin: 1%;
	padding: 10px;
}

.input-group-addon {
	padding: 6px 5px;
}

.btn-height {
	height: 34px;
}
.row{
	margin-left:0px;
	padding-top:10px;
}
.leftPane{
	padding:5px;
}
.reportBy>li{
	font:11px;
	font-weight:bold;
}
#title{
	color: grey;
	padding-left: 20px;
}
.navContainer{
	overflow:hidden;
}