@CHARSET "UTF-8";

body {
	overflow: hidden;
}

.filtergroup {
	width: 98%;
	height: 98%;
	border: solid 1px grey;
	margin: 1%;
	padding: 10px;
}

.border_box {
	border: 1px #e4e4e4 solid;
}

.input-group-addon {
	padding: 6px 5px;
}

.btn-height {
	height: 34px;
}
.row{
	margin-left:0px;
	padding-top:10px;
}
.leftPane{
	padding:5px;
}